/* .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(103, 19, 104, 0.9);
    color: white;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
} */

/* .header-contaioner { */
/* display: flex; */
/* align-items: center; */
/* Center items vertically */
/* justify-content: center; */
/* Center items horizontally */
/* width: 100%; */
/* background-color: rgba(103, 19, 104, 0.9); */
/* color: white; */
/* padding: 10px; */
/* font-size: 20px; */
/* box-sizing: border-box; */
/* position: fixed; */
/* top: 0; */
/* z-index: 1000; */
/* } */

/* .storeName {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
} */

.menuContainer {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.button {

    font-size: 24px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: absolute;
    /* Position it relative to the container */
    top: 100%;
    /* Start right below the button */
    right: 0;
    /* Align to the right side */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

/* nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
} */