.section_padding {
    padding: 4rem 4rem;
}

.footer {
    background-color: #282c34
}

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 110%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_div {
    width: 150px;
    margin: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(222, 6, 9);
}

a {
    color: brown;
    text-decoration: none;
}

.socialmedia {
    display: flex;
    flex-direction: row;
}

.socialmedia img {
    width: 50%;
}

.sb_footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .sb_footing-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb_footing-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .sb_footer-links div {
        margin: 1rem 0;
    }

}