.section_padding {
    padding: 4rem 4rem;
}

/* .footer { */
/* this is the color that I want */
/* background-color: #282c34 */
/* background-color: red */
/* } */

.sb_footer {
    display: flex;
    flex-direction: column;
}

.sb_footer-links {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 110%; */
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links_div {
    width: 150px;
    margin: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(100, 68, 188);
}

a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

p {
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

.sb_footer-links p {
    color: azure;
    text-decoration: none;
    font-size: 200px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
}

.socialmedia img {
    width: 50%;
}

.sb_footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: beige;
    font-size: 16px;
}

.sb_footer-links_div h4 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: rgb(224, 115, 134);
    margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
    .sb_footing-heading h1 {
        font-size: 144px;
        line-height: 50px;
    }

    .sb_footer-links_div p {
        font-size: 24px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .sb_footing-heading h1 {
        font-size: 134px;
        line-height: 42px;
    }

    .sb_footer-links div {
        margin: 1rem 0;
    }

}